.zebulon-table-input {
  font: inherit;
  height: inherit;
  width: inherit;
  border: unset;
  box-sizing: border-box;
  background-color: inherit;
  vertical-align: middle;
}
.zebulon-input-label: {
  /*border: solid lightgrey thin;
  box-sizing: border-box;
  padding: 0;
  background-color: inherit;*/
  height: 25px;
}
.zebulon-input-select: {
  width: inherit;
}

.zebulon-table-cell {
  overflow: hidden;
  white-space: nowrap;
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  border: solid rgba(0, 0, 0, 0.2) 0.02em;
  padding: 0.2em;
  outline: none;
  user-select: none;
}
.zebulon-table-cell-selected {
  background-color: lightcyan;
}
.zebulon-table-cell-focused {
  border: solid rgba(0, 0, 0, 0.5) 0.06em;
}
.zebulon-table-cell-editable {
  padding: 0;
  font: inherit;
}
.zebulon-table-select {
  font: inherit;
  height: inherit;
  width: inherit;
}
.zebulon-grid-select {
  font: inherit;
  height: inherit;
  width: inherit;
}
.zebulon-table-header {
  user-select: none;
  font: inherit;
  /*outline: none;*/
  background-color: #eef8fb;
  /* overflow: hidden;
  white-space: nowrap;
  height: inherit;
  box-sizing: border-box;*/
  text-align: center;
  /*border: solid rgba(0, 0, 0, 0.2) 0.02em;*/
  /*border: 0;*/
  padding: 0.2em;
}
.zebulon-table-filter {
  padding: 0;
  margin: 0.01em;
  border: solid rgba(0, 0, 0, 0.2) 0.05em;
}
.zebulon-table-filter-empty {
  background-color: white;
}
.zebulon-table-filter-checkbox-undefined {
  background-color: lightgrey;
}
.zebulon-table-status {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
  border: solid rgba(0, 0, 0, 0.3) 0.02em;
  padding: 0.2em;
  overflow: hidden;
}
.zebulon-table-status-selected {
  border: solid blue 0.05em;
  background-color: #eef8fb;
}
.zebulon-table-corner {
  outline: none;
  background-color: #eef8fb;
  height: inherit;
  border: solid rgba(0, 0, 0, 0.2) 0.02em;
  box-sizing: border-box;
  /*z-index: 1;*/
  overflow: hidden;
}
@keyframes anim-info-updated {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}
@keyframes anim-info-updated2 {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}

/*-----------------------------------------------*/

.zebulon-tabs-list {
  width: inherit;
  justify-content: space-around;
}
.zebulon-tabs-tab {
  border: 1px solid #aaa;
  text-align: center;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  /*width: -webkit-fill-available;*/
  width: stretch;
  cursor: pointer;
}
.zebulon-tabs-tab-selected {
  background-color: lightgrey;
  border-bottom: unset;
  color: black;
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  /*padding: 0 3px 3px 0;*/
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
