.zebulon-table-grid: {
  border: solid lightgrey 0.5em;
  /*border-left: unset;*/
}
.zebulon-table-title: {
  font-weight: bold;
  text-align: center;
  padding: 4px;
  border: solid 0.05em;
}
.zebulon-table-input {
  font: inherit;
  height: inherit;
  width: inherit;
  border: solid rgba(0, 0, 0, 0.2) 0.02em;
  box-sizing: border-box;
  background-color: inherit;
  vertical-align: middle;
}
.zebulon-input-label: {
  height: 25px;
}
.zebulon-input-select: {
  width: inherit;
}
.zebulon-table-cell {
  overflow: hidden;
  white-space: nowrap;
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  border: solid rgba(0, 0, 0, 0.3) 0.03em;
  border-right: unset;
  border-top: unset;
  padding: 0.2em;
  outline: none;
  user-select: none;
}
.zebulon-table-cell-odd {
  background-color: rgba(0, 0, 0, 0.1);
}
.zebulon-table-cell-audit {
  border-top: solid blue 0.02em;
  border-bottom: solid blue 0.02em;
}
.zebulon-table-cell-selected {
  background-color: lightcyan;
}
.zebulon-table-cell-focused {
  border: solid rgba(0, 0, 0, 0.7) 0.05em;
}
.zebulon-table-cell-editable {
  font: inherit;
}
.zebulon-table-select {
  font: inherit;
  height: inherit;
  width: inherit;
}
.zebulon-table-cell-checkbox {
  padding: 0.3em;
  width: 100%;
  height: 100%;
}
.zebulon-table-cell-select {
  padding: unset;
  width: 100%;
  height: 100%;
}
.zebulon-grid-select {
  font: inherit;
  height: inherit;
  width: inherit;
}
.zebulon-table-header {
  background-color: #eef8fb;
  font: inherit;
  text-align: center;
}
.zebulon-table-filter {
}
.zebulon-table-filter-empty {
  background-color: white;
}
.zebulon-table-filter-checkbox {
  width: 100%;
  height: 100%;
  padding: 0.3em;
  box-sizing: border-box;
}
.zebulon-table-filter-checkbox-undefined {
  background-color: lightgrey;
}
.zebulon-table-status {
  position: absolute;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
  border: solid rgba(0, 0, 0, 0.4) 0.03em;
  border-top: unset;
  border-right: unset;
  padding: 0.2em;
  overflow: hidden;
}
.zebulon-table-status-selected {
  border: solid grey 0.04em;
  background-color: #eef8fb;
}
.zebulon-table-corner {
  /*position: relative;*/
  padding: 0.2em;
  outline: none;
  background-color: #eef8fb;
  height: inherit;
  border: solid rgba(0, 0, 0, 0.4) 0.03em;
  border-top: unset;
  border-right: unset;
  box-sizing: border-box;
  text-align: center;

  overflow: hidden;
}
.zebulon-locked-columns {
  border-right: solid 0.05em rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}
.zebulon-locked-headers {
  border-right: solid 0.05em rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

@keyframes anim-info-updated {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}
@keyframes anim-info-updated2 {
  0% {
    background-color: red;
    color: rgb(128, 0, 0);
  }
  100% {
  }
}
.zebulon-action-button {
  font-size: 80%;
}
.zebulon-action-button-disabled {
  font-size: 80%;
  color: grey;
}
.zebulon-modal-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}
.zebulon-modal-confirmation {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 5px;
  width: fit-content;
  min-width: 200px;
  min-height: 100px;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  z-index: 1000;
  opacity: 1;
}
/*-----------------------------------------------*/
